.indentation {
  padding-top: 100px;
}

.registration {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
  &.active {
    display: flex;
  }

  &-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &-input {
    padding: 10px;
    margin-bottom: 10px;
  }

  &-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}
  

.cap {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  background-color: #f2f2f2;
  gap: 20px;
  top: 0px;
  width: 100%;
  &.active {
    display: flex;
  }

  &-svg {
    display: flex;
    margin-right: 10px;
    gap: 10px;
    & svg {
      cursor: pointer;
    }
  }
}

.home {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
  gap: 50px;
  &.active {
    display: flex;
  }

  &-container {
    display: flex;
    gap: 20px;

    input:checked + img {
      border: 5px solid #4CAF50;
    }
    input[type="radio"] {
      display: none;
    }
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}

.profile {
  margin-top: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  &.active {
    display: flex;
  }

  &-status {
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
    gap: 30px;

    &-name {
      color: #4CAF50;
      font-weight: bold;
    }

    &-wins {
      color: #4b72db;
      font-weight: bold;
    }

    &-loses {
      color: #db4b4b;
      font-weight: bold;
    }
  }

  &-status-edit {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  &-button-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  &-person {
    display: none;
    &.active {
      display: flex;
      gap: 10px;
    }
  }
}

.configure {
  margin: 25px;
  display: none;
  align-items: center;
  gap: 30px;
  &.active {
    display: flex;
  }
  &-content {
    display: none;
    &.active {
      display: block;
    }
  }
  &-name {
    display: none;
    &.active {
      display: block;
    }
  }
}

.fight {
  display: none;
  &.active {
    display: flex;
  }
}



img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}